.input {
  transition: box-shadow .3s ease-in-out;
  box-shadow: 0 0 15px 1px rgba(255, 255, 255, 0.5);
}

.input:hover,
.input:focus {
  box-shadow: 0 0 15px 1px rgba(255, 255, 255, 1);
}

.input:disabled {
  opacity: .3;
}
