@keyframes hidingPlayButton {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes hidingPauseButton {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.container {
  width: 400px;
  height: 600px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  border: 1px solid black;
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.2);
}
